body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
  overflow-x: hidden;
	color: white
}
.padding0 {
	padding-left:  0px;
	padding-right:  0px;
}
footer{background-color: #ffffff;}
.header{
background-image: url("../../img/header.jpg");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}
h1{font-size: 45px;}
h2{font-size: 35px;}
.rectangulo{
	width: 100%;
	height: 30vh;
	background-color: #000000;
	opacity: .5;
}
.linerectangulo{
width: 92%;
height: 25vh;
border: 2px solid #ffffff;
float: left;
margin: 17px;
z-index: 3;
top: 0px;
position: absolute;
}
.topRectangulo{top: 125px;}
.lineMenu{
width: 80%;
border: 1px solid #ffffff;
top: 70px;
position: absolute;
left: 78px;
z-index: 3;
}
.ConteinerMenu{
font-size: 14px;
padding: 20px;
margin: auto;
width: 100%;
}
.MenuPrincipal{
float: right;
margin: 0;
}
ul, menu, dir {
display: block;
list-style-type: disc;
}
.MenuPrincipal li {
transition: all ease .5s;
box-sizing: border-box;
cursor: pointer;
float: left;
height: 60px;
list-style: outside none none;
padding: 25px 20px 0;
position: relative;
width: auto;
font-size: 16px;
}
.MenuNomada{color:#ffffff;}
.MenuNomada:hover {color:#ffffff;}
.SpanRectanguloMenu{
position: absolute;
z-index: 3;
top: 58px;
font-size: 18px;
float: right;
right: 33px;
}
.MenuNomada2{
float: right;
font-size: 16px;
}
a {
color: #ffffff;
text-decoration: none;
}
a:hover{
color: #ffffff;
text-decoration: none;
background-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: transparent;
}
.SubmenuRectangulo{
bottom: 85px;
position: relative;
left: 55px;
}
.fondo-1 {
background: #000000;
padding:  60px;
background: -webkit-linear-gradient(to bottom, #000000, transparent);
background: linear-gradient(to bottom, #000000, transparent);
}
.fondo2 {
background-color: transparent;
border:  white solid 2px;
padding:  20px;
margin-top: -26px;
}
.titulo-buscador {
text-align: center;
padding: 10px 0px;
margin-bottom:  15px;
border-bottom:  white solid 2px;
letter-spacing: 2px;
font-size: 18px;
}
.titulo-buscador1 {
text-align: center;
padding: 10px 0px;
margin-bottom:  15px;
border-bottom:  white solid 1px;
}
.text-menu-2{
font-size: 13px;
text-align: center;
padding: 1px;
}
.btn-buscar-color {
border-color: transparent;
color: #7e684c;
font-size: 21px;
font-family: Georgia;
float: left;
border-radius: 0px;
-webkit-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-o-transition: background-color 0.5s ease-out;
transition: background-color 0.5s ease-out;
width:  100%;
}
.btn-buscar-color:hover {
	background-color:  #8F806C;
	color:  white;
}

.btn-regresar-blog {
border-color: transparent;
background-color: #009ABC;
color: #ffffff;
font-size: 21px;
font-family: Georgia;
float: left;
border-radius: 0px;
-webkit-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-o-transition: background-color 0.5s ease-out;
transition: background-color 0.5s ease-out;
width:  100%;
}
.btn-regresar-blog :hover {
	background-color:  #8F806C;
	color:  white;
}

.row-btn {margin-top: 0px !important;}
.text-gray {
 width: 100%;
font-size: 32px;
font-family: Georgia;
float: right;
text-align: left;
}
.tex-gray-littel {
text-align: left;
font-size: 16px;
}
.columna-tex-gray-littel {top: -200px;}
.columna-text-gray {top: 5px;}
.line-text-gray{
border-bottom: 1px black solid;
width: 40%;
}
.tex-bold-gray{
font-weight: bold;
font-size: 20px;
}
.text-gray-2{font-family: Georgia;}
.row-mapa {
background-image: url("../../img/montanas-mapa.jpg");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
}
.text-mapa-padding{padding: 28px; text-align: center;}
.text-gray-3 {
padding-bottom: 50px;
text-align: center;
}
.text-black {
color: #000000;
font-size: 18px;
top: 32px;
position: relative;
left: 3%;
}
.centrado{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 15px;
font-weight: lighter;
}
/*clase para responsive*/
.padding-img-laborales{
	padding: 10px;
}
.text-black-2 {
font-size: 25px;
border-bottom: 1px solid #7E684C;
}
.text-gray-4 {font-size: 17px;}
.text-black-general {color: #000000;}
.text-gray-general {color: #9f9f9f;}
.icon-color {color: #8e8e8e;}
.icon-padding {padding-bottom: 5px;}
.icon-center {
width: 22px;
text-align: center;
}
.text-gray-5{
font-size: 22px;
font-family: Georgia;
}
.swiper-container {
width: 100%;
height: 300px;
margin: 20px auto;
}
.swiper-container-2{height: 18vh !important;}
.swiper-container-3{height: 18vh !important;}
.swiper-container3 {
width: 100%;
height: 20vh !important;
margin: 0px auto;
margin-right: auto;
margin-left: auto;
}
.swiper-slide {
text-align: center;
font-size: 18px;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.slider-1{
background-size: 100%;
background-position: center bottom;
background-repeat: no-repeat;
height: 84%;
}
.slider-2{
background-size: 100%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
}
.slider-3{
background-size: 5%;
background-position: center bottom;
background-repeat: no-repeat;
height: 45%;
}
.append-buttons {
text-align: center;
margin-top: 20px;
}
.append-buttons a {
display: inline-block;
border: 1px solid #007aff;
color: #007aff;
text-decoration: none;
padding: 4px 10px;
border-radius: 4px;
margin: 0 10px;
font-size: 13px;
}
.bottom-gray-slider{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.margin-video2 {margin-top: 16px;}
.row-testimonios {
background-image: url("../../img/montanas-testimonios2.jpg");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
}
.centar-columna{
text-align: center;
padding-top: 50px;
}
.text-black-bold {
font-size: 22px;
font-weight: bold;
}
.slider-transparent {
background: transparent;
}
.recibe-noticias-backgroud {
background-image: url("../../img/montanas-recibe.jpg");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
height: 88vh;
}
.text-white-title-col {
text-align: center;
font-weight: bold;
top: 145px;
}
.text-white-title-center {
font-size: 48px;
color: #ffffff;
}
.input-white{
border: 0px 0px .5px 0px solid white;
border-top-style:none;
border-right-style:none;
border-bottom-style:solid ;
border-left-style:none;
border-top-color:transparent;
border-right-color:transparent;
border-bottom-color:white;
border-left-color:transparent;
background: transparent;
width: 100%;
font-size: 20px;
font-weight: normal;
}
.col-pos-top {top:90px;}
.col-pos-top-2 {top: 85px;}
.w-full {width: 100%;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.bg-white {background-color: #fff;}
.small{font-size: 0.75rem;}
.card-heading {font-size: 2.25rem;}
.styled-link {
text-decoration: none;
outline: none;
color: #979797;
transition: all 0.25s ease-in;
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {color:#979797;}
.shadow-1 {box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);}
.blue-hover {
transition: all 0.25s ease-in;
border-bottom: 5px solid transparent;
}
.blue-hover:hover {
transform: translateY(-5px);
border: none;
border-bottom: 5px solid #009abc;
}
.size-car-1{
width: 100%;
overflow: hidden;
border-radius: 1px;
}
.padding-card{
padding-left: 60px;
padding-right: 60px;
}
.btn-100 {width: 100%;border-radius: 0px;}
/**Margin and padding utilities*/
.mx-auto {
margin-left: auto;
margin-right: auto;
}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mx-0 {
margin-left: 0;
margin-right: 0;
}
.mx-1 {
margin-left: 1rem;
margin-right: 1rem;
}
.mx-2 {
margin-left: 2rem;
margin-right: 2rem;
}
.mx-3 {
margin-left: 3rem;
margin-right: 3rem;
}
.my-0 {
margin-top: 0;
margin-bottom: 0;
}
.my-1 {
margin-top: 1rem;
margin-bottom: 1rem;
}
.my-2 {
margin-bottom: 2rem;
cursor: pointer;
}
.my-3 {
margin-top: 3rem;
margin-bottom: 3rem;
}
.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-5-color{
color: #979797;
border-bottom: 1px solid #979797;
}
.mb-6-color{
color: #979797;
margin-bottom: -15px;
}
.text-posi-noticia{
padding-top: 15px;
padding-bottom: 15px;
font-size: 15px;
}
.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 1rem;}
.ml-2 {margin-left: 2rem;}
.ml-3 {margin-left: 3rem;}
.px-0 {
padding-left: 0;
padding-right: 0;
}
.px-1 {
padding-left: 1rem;
padding-right: 1rem;
}
.px-2 {
padding-left: 2rem;
padding-right: 2rem;
}
.px-3 {
padding-left: 3rem;
padding-right: 3rem;
}
.formulario-backgroud {
background-image: url("../../img/formulario-3.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
padding:  100px 0px;
}
.margin-formulario{margin-top: 15px;}
.formulario-opacity{
background-color: white;
opacity: 0.7;
border: none;
border-radius: 0px;
}
.altura-mensaje-form {height: 20vh !important;}
.margin-lef-bottom-form {left: 13px;}
.bottom-transparent {
background-color: transparent;
color: white;
border: 1.8px solid white;
margin-top: 20px;
border-radius: 0;
}
.span-conteiner-form {padding-bottom: 8px;}
.font-lighter {font-weight: lighter;}
.icon-center-2 {
width: 22px;
text-align: center;
margin-right: 10px;
}
.form-title{
font-size: 22px;
font-weight: bold;
}
.span-conteiner-form2 {
padding-bottom: 8px;
padding-top: 8px;
}
.font-size-form {font-size: 22px;}
.font-black-footer{
font-size: 13.9px;
color: black;
}
.font-black-footer:hover{
	color: #26ADD5;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}
.texto-azul {color: #26ADD5;}
.padding-top-footer {padding-top: 35px;}
.padding-top-footer2 {padding-top: 60px;}
.contenedor {
overflow:hidden;
cursor: pointer;
}
.contenedor:hover {
-webkit-transform: scale(1.1);
transform: scale(1.1);
filter: grayscale(100%);
}
.contenedor2 {
overflow:hidden;
cursor: pointer;
}
.contenedor2:hover {
-webkit-transform: scale(1.1);
transform: scale(1.1);
filter: grayscale(100%);
}
.contenedor3 {
overflow:hidden;
cursor: pointer;
}
.contenedor3:hover {
-webkit-transform: scale(1.1);
transform: scale(1.1);
filter: grayscale(100%);
}
.contenedor4 {
overflow:hidden;
cursor: pointer;
}
.contenedor4:hover {
-webkit-transform: scale(1.1);
transform: scale(1.1);
filter: grayscale(100%);
}
.color-icon-footer {color: #7a7979;}
.color-icon-header {color: #ffffff !important;}
.color-icon-header2{
color: #ffffff;
opacity: .7;
}
.color-icon-footter-new:hover{
background-color: #1ca2b9;
border-radius: 50%;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 50%;
}
.color-icon-header-new:hover{
background-color: #1ca2b9;
border-radius: 50%;
opacity: .5;
}
.line-menu-2{
height: 20vh;
border-bottom: 1px solid white;
}
.general-hover{
-webkit-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-o-transition: background-color 0.5s ease-out;
transition: background-color 0.5s ease-out;
}
.general-hover:hover{
	background-color:  0.5;
}
#wrap{
display: inline-block;
height: 30px;
float: right;
padding: 0;
}
input[id="search"] {
height: 35px;
font-size: 15px;
font-weight: 900;
display: inline-block;
font-weight: 30;
border: none;
outline: none;
color: #ffffff;
padding: 10px;
padding-left: 10px;
padding-left: 30px;
width: 0px;
position: absolute;
top: 0;
left: 0;
background: none;
z-index: 3;
transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
cursor: pointer;
}
input[id="search"]:focus:hover {border-bottom: 2px solid #ffffff;}
input[id="search"]:focus {
width: 250px;
z-index: 1;
border-bottom: 2px solid #ffffff;
cursor: text;
}
input[id="search_submit"] {
height: 35px;
width: 35px;
display: inline-block;
color: red;
float: left;
background: url("../../img/search.png") center center no-repeat;
background-size: auto auto;
text-indent: -10000px;
border: none;
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
opacity: 0.4;
cursor: pointer;
transition: opacity .4s ease;
background-size: 23px;
}
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
font-family: FontAwesome;
display: inline-block;
color: #787878;
}
input[type=checkbox] + label:before { content: "\f096"; }/* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
input[type=checkbox]:checked + label:before { content: "\f046"; color:#77a447;} /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.spanrectangulo{
color: black;
width: 100%;
font-size: 14px;
padding-top: 7px;
}
.padding-rec-span {padding: 10px;}
.width-icon-rec{
width: 20px;
text-align: center;
}
.margin-left-2 {margin-left: 19px;}
.text-align-general {text-align: center;}
.line-colo-cyan {border-bottom: 4px solid #009abc;}
.icon-dudas{
padding-left: 0px;
padding-top: 15px;
}
.color-icon-dudas {color: #2a525a !important;}
a:focus {
outline: none;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: unset;
}
a:hover, a:focus {
color: #ffffff;
text-decoration: none;
}
.cursor-pointer1 {cursor: pointer;}
.tex-align-center{text-align: none;}
.margin-t-50 {margin-top: 0px;}
.activelogo {background-color: transparent;}
.topnav .icon {display: none;}
.top-columna-menu-2{
top: 15px;
}
.font-size-menu-ipad {font-size: 0px;}
.menu-responsive-text{
color: #ffffff;
padding: 10px 16px 10px 16px !important;
font-size: 20px !important;
font-family: roboto;
}
.menu-responsive-text:hover {background: #3bb0b4 !important;}
.sidenav {transition: 0s; }
#main {transition: margin-left 0s;}
/* The side navigation menu */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 60px;
transition: 0.5s;
background: linear-gradient(to bottom, #000000, #000c);
}
.sidenav a {
padding: 6px 6px 6px 15px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
font-weight: lighter;
text-align: left;
width:  90%;
}
.sidenav a:hover, .offcanvas a:focus {color: #20f5f5;}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
#main {
transition: margin-left .5s;
padding: 20px;
overflow:hidden;
width:100%;
}
.topnav {
background-color: transparent;
overflow: hidden;
left:  150px;
}
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: right;
padding: 14px 10px;
text-decoration: none;
font-size: 14px;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a.active {
background-color: #4CAF50;
color: white;
}
svg:not(:root) {
overflow: hidden;
position: absolute;
float: right;
right: 8%;
top: 30%;
}

#vmap svg{
	top:0px !important;
	right:-100px !important;
}
/*Cultivo*/
.header2{
background-image: url("../../img/cultivo.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
}
.btn-colo-cu{
width: 100%;
opacity: .5;
}
.rec-gray-1{
background: #eeeeee;
width: 100%;
height: 20vh;
position: relative !important;
}
.title-menu-2{
text-align: left;
color: #949494;
font-size: 35px;
margin-top: 15px;
}
.padding-0-1{
padding-right:0px;
padding-left:0px;
padding-top: 20px;
padding-bottom: 20px;
}
.btn-colo-green{
width: 100%;
background-color: #3EB66E;
height: 7vh;
color: #ffffff;
font-family: Georgia;
font-size: 33px;
padding: 0px;
border-radius: 0;
box-shadow: 2px 2px 2px #80808080;
letter-spacing: 8px;
border: none;
}
.btn-colo-green:hover{
background-color: #1C8345;
color: #ffffff;
border: none;
}
.margin-ta-col-4-tarj{margin-top: 80px !important;}
.body2 {
font-size: 16px;
font-family: 'Roboto', sans-serif;
background-color: #e6e6e6;
color: #ffffff;
overflow-x: hidden;
}
.tex-title-cafe{
margin-top: 35px;
margin-bottom: 35px;
width: 90%;
font-size: 44px;
}
.margin-video3 {
margin-top: 100px;
margin-bottom: 40px;
}
.icon-feet{
background-image:url("../../img/icon-feet.png");
width: 30px;
height: 30px;
}
.tabset > input[type="radio"] {
position: absolute;
left: -200vw;
}
.tabset .tab-panel {display: none;}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
display: block;
background: #ffffff;
border-top:  #949494 solid 1px;
}

.fondo-gris {
	background-color: #e1e1e1;
}

.contendor-contenido {
	padding:  100px 0px;
}

/*Styling*/
.tabset > label {
position: relative;
display: inline-block;
border: 1px solid transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: transparent;
border-bottom: 0;
cursor: pointer;
font-weight: 600;
background: #009abc;
margin-bottom: 0px;
color: white;
text-align: left;
width:  24%;
}
.tabset > label::after {
position: absolute;
left: 15px;
bottom: 10px;
width: 22px;
height: 4px;
background: #8d8d8d;
width:  25%;
}
.tabset > label:hover,
.tabset > input:focus + label {color: #e6e6e6;}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {background: #06c;}
.tabset > input:checked + label {
border: 1px solid #009abc !important;
border-bottom: 1px solid #fff;
margin-bottom: -1px;
background: #ffffff;
color: black;
}
.tab-panel {
padding: 30px 0;
border-top: 1px solid #ccc;
}
/*Demo purposes only*/
*,
*:before,
*:after {box-sizing: border-box;}
.tabset {max-width:100%;}
.padding-30-new {padding: 30px;}
.padding-text-new {
padding-left: 0px;
padding-top: 35px;
padding-bottom: 35px;
padding-right: 0px;
text-align: justify;
width: 90%;
}
.padding-img-new{
margin-top: 135px;
margin-bottom: 46px;
width: 100%;
}
.width-logo-unam {
width: 56%;
margin-left: 20px;
margin-top: -4px;
}
.font-tab-black{
font-family: 'Roboto', sans-serif;
color: black;
font-weight: normal !important;
font-size: 18px;
}
.padding-mapa-2{
padding-top: 40px;
padding-bottom: 40px;
}
.border-blue-map{
border: 0;
width: 95%;
border: 6px solid #007090 !important;
}
/*
.shadow-box {box-shadow: 8px 8px 5px #80808080;}
*/
.width-icon-tab {width: 20px;}
.paddin-logo {padding: 4px;}
.logo-ibero{
width: 85%;
margin-left: 11px;
margin-top: 1px;
}
.logo-itam{
padding: 0px;
top: 7px;
}
.text-black-new2{
color: #000000;
font-size: 16px;
}
.margin-text-new2{
width: 61%;
margin-left: 25px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 25px;
}
.margin-text-new3{
margin-left: 25px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 25px;
}
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
background-color: #fefefe;
padding: 20px;
border: 1px solid #888;
}
/* The Close Button */
.close {
color: #000;
float: right;
font-size: 28px;
font-weight: bold;
opacity: 1;
position: relative;
}
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.row-modal {
background-image: url("../../img/montanas-modal2.jpg");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
max-height: 80vh;
min-height: 80vh;
overflow: scroll;
top: -45px;
}
.p-blacl-title-modal{
color: black;
text-align: center;
font-size: 40px;
font-family: Georgia;
}
.p-text-subtitle{
color: #727272;
font-size: 27px;
text-align: center;
font-weight: lighter;
padding-left: 10%;
padding-right: 10%;
}
.input-style-new-modal{
width: 100%;
color: black;
background: #ffffff;
padding: 9px 16px;
margin-bottom: 23px;
border: 1px solid #696969b3;
}
.color-white-select
{
background: white;
}
/*Areas Laborales*/
.header3{
background-image: url("../../img/areas_l.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
}
.text-center-new1{
font-size: 26px;
text-align: center;
font-family: Roboto;
font-weight: lighter;
}
.padding-0-new{
padding: 0 !important;
}
.padding-0-new2 {
padding: 0 !important;
}
.tamano-laber-a{
background: transparent ;
}
.tamano-laber-a:hover {
    background: black !important;
}
.centrado2 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 12px;
font-weight: lighter;
width: 100%;
padding:  10px;
color: #ffffff;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}
.img-tabs-top {
	height:  50px;
}

.img-new-tab2{
width: 50px;
height: 50px;
}
.padding-tittle-img-tab {
height: 53px;
color: black;
padding-top: 10px;
padding-left: 0px;
font-size: 20px;
}
.padding-row-new {padding-top:30px;}

.text-area-labo {
border: #949494 solid 1px;
padding:  5px;
color:  #000000;
border-radius:  5px;
font-weight: bold;
text-align: center;
font-size: 16px !important;
-webkit-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-o-transition: background-color 0.5s ease-out;
transition: background-color 0.5s ease-out;
}

.text-area-labo:hover {
border: #949494 solid 1px;
background-color:  #949494;
color:  white;
}

.padding-40-tab {padding-top: 40px;}
/*Aventura*/
.header4{
background-image: url("../../img/aventura.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
}
.spanfiltros{
text-align: center;
color: #009abc;
font-weight: bold;
font-size: 18px;
border-bottom: 2px solid #009abc;
width: 55%;
cursor: pointer;
}
.spanfiltros:hover{
color: #000000;
border-bottom: 2px solid #000000;
}
.contenerdo-white-1{
width: 100%;
background-color: #ffffff;
border-right:  #CBCBCB solid 1px;
}
.mb-6-color22 {
color: #979797;
margin-bottom: -15px;
padding-top: 10px;
padding-bottom: 10px;
}
.centrar-text-tarjeta {
text-align: center;
color: #000000;
font-size: 18px;
font-weight: bold
}
.btn-buscar-color2-new {
width: 100%;
border-color: transparent;
color: #ffffff;
font-size: 20px;
font-family: Roboto;
float: left;
text-align: right;
border-color: #009abc;
border-radius: 0px;
background: #009abc;
text-align: center;
font-weight: lighter;
}
.centrado3-new {
position: absolute;
left: 52%;
transform: translate(-50%, 14%);
text-align: left;
font-weight: bold;
font-size: 18px;
width: 90%;
padding:  5px;
}
.centrado4-new {
position: absolute;
left: 52%;
transform: translate(-50%, -130%);
text-align: left;
font-weight: normal;
font-size: 16px;
width: 90%;
white-space: pre-wrap;
padding:  5px;
}
.font-size-tarje-new{font-size: 14px;}
.width-30-px-new{
width: 25px;
text-align: center;
margin-right: 8px;
color: #009ABC;
}
.title-menu-tarj-2 {
text-align: left;
color: #949494;
font-size: 32px;
margin-top: 10px;
margin-bottom: 10px;
}
.contenerdo-white-2 {
width: 100%;
background-color: #ffffff;
padding: 15px;
}
.big {font-size: 1.2em;}
.small {font-size: .7em;}
.square {
width: .7em;
height: .7em;
margin: .5em;
display: inline-block;
}
/* Custom dropdown */
.custom-dropdown {
position: relative;
display: inline-block;
vertical-align: middle;
margin: 10px; /* demo only */
}
.custom-dropdown select {
background-color: #1abc9c;
color: #fff;
font-size: inherit;
padding: .5em;
padding-right: 2.5em;
border: 0;
margin: 0;
border-radius: 3px;
text-indent: 0.01px;
text-overflow: '';
/*Hiding the select arrow for firefox*/
-moz-appearance: none;
/*Hiding the select arrow for chrome*/
-webkit-appearance:none;
/*Hiding the select arrow default implementation*/
appearance: none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {display: none;}
.custom-dropdown::before,
.custom-dropdown::after {
content: "";
position: absolute;
pointer-events: none;
}
.custom-dropdown::after { /*  Custom dropdown arrow */
content: "\25BC";
height: 1em;
font-size: .625em;
line-height: 1;
right: 1.2em;
top: 50%;
margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
width: 2em;
right: 0;
top: 0;
bottom: 0;
border-radius: 0 3px 3px 0;
background-color: rgba(0,0,0,.2);
}
.custom-dropdown::after {color: rgba(0,0,0,.6);}
.custom-dropdown select[disabled] {color: rgba(0,0,0,.25);}
.w-full-tar {
width: 100%;
height: 200px;
}
.custom-select {
position: relative;
}
.custom-select select {display: none; /*hide original SELECT element:*/}
.select-selected {background-color: transparent;}
/*style the arrow inside the select element:*/
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #0009 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
border-color: #0000 #0000 #000 #0000;
top: 10px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
color: #000000;
padding: 8px 16px;
border: 1px solid transparent;
border-color: #696969b3 #696969b3 #696969b3 #696969b3 ;
cursor: pointer;
user-select: none;
}
.select-items div {
color: #000000;
padding: 8px 16px;
border: 1px solid transparent;
border-color: #000000 #000000 #000000 #000000;
cursor: pointer;
user-select: none;
border: 1px solid #0003;
border-top-width: 0px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #0003;
border-right-color: #0003;
border-left-color: #0003;
}
/*style items (options):*/
.select-items {
position: absolute;
background-color: #ffffff;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {display: none;}
.select-items div:hover {background-color: rgba(0, 0, 0, 0.1);}
.text-black-filtros{
color: black;
font-size: 18px;
font-weight: bold;
margin-top: 10px;
padding: 0 6px 0 6px;
padding-top: 0px;
padding-right: 6px;
padding-bottom: 0px;
padding-left: 17px;
margin-bottom: 5px;
}
.text-black-title-new2{
color: black;
font-size: 17px;
}
input[id="search_submit2"] {
height: 35px;
width: 35px;
display: inline-block;
float: left;
background: url("../../img/search2.png") center center no-repeat;
background-size: auto auto;
background-size: auto auto;
text-indent: -10000px;
border: none;
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
opacity: 0.4;
cursor: pointer;
transition: opacity .4s ease;
background-size: 23px;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
.rangeslider,
.rangeslider__fill {
display:block;
border-radius:0px;
}
.rangeslider {position:relative;}
.rangeslider:after{
top: 50%;
left: 0;
right: 0;
content: '';
width: 100%;
height: 13px;
margin-top: -2.5px;
border-radius: 0px;
position: absolute;
background: #BABABA;
-webkit-box-shadow: inset -3px 14px 5px -7px rgba(0,0,0,0.46);
-moz-box-shadow: inset -3px 14px 5px -7px rgba(0,0,0,0.46);
box-shadow: inset -3px 14px 5px -7px rgba(0, 0, 0, 0.66);
}
.rangeslider--horizontal{
width:100%;
height:28px;
margin-bottom: 20px;
margin-top: 20px;
}
.rangeslider--vertical{
width:5px;
min-height:150px;
max-height:100%;
}
.rangeslider--disabled{
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
opacity:0.4;
}
.rangeslider__fill{
position:absolute;
background:#009abc;
}
.rangeslider--horizontal .rangeslider__fill{
top:0;
height:100%;
}
.rangeslider--vertical .rangeslider__fill{
bottom:0;
width:100%;
}
.rangeslider__handle{
top: 50%;
width: 27px;
height: 27px;
cursor: pointer;
margin-top: -11px;
background: white;
position: absolute;
background: #009abc;
border-radius: 50%;
display: inline-block;
}
.rangeslider__handle:active{background:#009abc;}
.rangeslider__fill,
.rangeslider__handle{z-index:1;}
.rangeslider--horizontal .rangeslider__fill{
top: 50%;
height: 9px;
margin-top: -0.5px;
}
.contendeor-slider-range
{
width: 54px;
height: 24px;
background: #009abc;
text-align: center;
position: relative;
top: 34px;
float: right;
right: -15px;
}
.rangeslider__handle__value {
width: 54px;
height: 24px;
background: #009abc;
text-align: center;
position: relative;
top: 34px;
float: right;
right: -15px;
}
/* Budget */
.budget-wrap{
padding:40px;
background:#292942;
box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}
.budget-wrap .header .title{
color:#fff;
font-size:18px;
margin-bottom:30px;
}
.budget-wrap .header .title .pull-right{
color:#ff5a84;
font-size:24px;
font-weight:400;
}
.budget-wrap .footer{margin-top:30px;}
.budget-wrap .footer .btn{
color:inherit;
padding:12px 24px;
border-radius:50px;
display:inline-block;
text-decoration:none;
}
.budget-wrap .footer .btn.btn-def{color:#525263;}
.budget-wrap .footer .btn.btn-pri{
color:#eee;
background:#ff5a84;
}
.colum-slider-r{
background: #009abc;
width: 36%;
margin-left: 73px;
margin-top: 18px;
font-size: 15px;
font-weight: bold;
}
.col-cleal-filtros{
float: right;
border-bottom: 1px solid black;
cursor: pointer;
}
/***** Vacantes *****/
/***** Rotating Card Animations *****/
/* Flips the pane when clicked */
.flip-container:not(.manual-flip):hover .sports-card,
.flip-container.hover.manual-flip .sports-card{
-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
-o-transform: rotateY( 180deg );
transform: rotateY( 180deg );
}
/* Flip speed goes here */
.sports-card {
-webkit-transition: -webkit-transform .5s;
-moz-transition: -moz-transform .5s;
-o-transition: -o-transform .5s;
transition: transform .5s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
/*position: relative;*/
}
/* Hides back of pane during swap */
.front, .back {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
position: absolute;
border: 1px solid #DDD;
border-color: rgba(0,0,0,0.15);
border-radius: 6px;
box-shadow: 0 6px 14px -4px rgba(0,0,0,0.4);
width: 99%;
}
/* Front pane is placed above back */
.front {z-index: 2;}
/* Back, initially hidden pane */
.back {
-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
-o-transform: rotateY( 180deg );
transform: rotateY( 180deg );
z-index: 3;
}
/*        Style       */
.sports-card{
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 6px;
color: #444444;
}
.flip-container, .sports-card .front, .sports-card .back {
width: 100%;
max-height: 100vh;
min-height: 86vh;
border-radius: 6px;
background-color: white;
}
.sports-card .cover{
overflow: hidden;
border-radius: 6px 6px 0 0;
background-color: #fff;
background-repeat: repeat-x;
border-bottom: 2px solid #5e7ecb;
}
.sports-card .cover img{width: 99%;}
.sports-card .content{
background-color: #f8f8f8;
box-shadow: none;
max-height: 50vh;
min-height: 50vh;
overflow-x: auto;
box-shadow: inset 0px 14px 10px -10px #CCC, inset 0px -14px 10px -10px #CCC;
}
.sports-card .front .content .main {
height: 155px;
padding: 10px 14px 10px 14px;
overflow: hidden;
}
.sports-card .back .content .main {
height: 303px;
overflow: auto;
}
.sports-card .name {
color: #67b;
font-size: 26px;
font-weight: 300;
line-height: 28px;
margin: 10px 0 0;
text-align: center;
text-transform: capitalize;
}
.sports-card h5{
margin: 5px 0;
font-weight: 400;
line-height: 20px;
}
.sports-card h5 i {color: #67b;}
.sports-card .profession{
color: #999999;
text-align: center;
margin-bottom: 20px;
}
.sports-card .footer {border-top: 1px solid #DDD;}
.sports-card .footer .social-links{font-size: 18px;}
.sports-card .footer .social-links a{margin: 0 7px;}
.sports-card .motto{
border-bottom: 1px solid #EEEEEE;
color: #999999;
font-size: 14px;
font-weight: 400;
text-align: center;
margin: 0;
padding: 10px 14px 10px 14px;
}
.cover2 {
height: 10px;
background-color: #5e7ecb;
border-radius: 6px 6px 0 0;
}
/**** New CSS ****/
.flip-container .sports-button {
border: none;
background: none;
outline: none;
color: #67b;
padding: 10px 14px 10px 14px;
}
.sports-card .front .footer {text-align: center;}
.font-weight-bold{font-weight: bold;}
.img-new-tarj-cirl {
width: 40px;
height: 40px;
}
.margin-title-tarj{
margin-top: 8px;
font-size: 17px;
}
.margin-tarj-0{
margin:0px;
text-align: left;
}
.margin-top-tarjeta{
padding-left: 0px;
padding-right: 0px;
padding-top: 20px;
}
.boton-colo-black{
padding: 0px;
border-right: 2px solid #0003;
height: 50px;
background: white;
border-radius: 0px 0px 0px 6px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 6px;
}
.boton-colo-black:hover{background: #e7e7e7;}
.boton-colo-black2{
padding: 0px;
height: 50px;
background: white;
border-radius: 0px 0px 0px 6px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 0px;
}
.boton-colo-black2:hover{background: #e7e7e7;}
.margin-buttom-ver-mas{
padding: 0px !important;
margin-left: 7%;
margin-top: 9%;
}
.margin-buttom-ver-mas2{
padding: 0px !important;
margin-left: 30%;
}
.margin-title-tarj2 {
margin-top: 2px;
font-size: 15px;
}
.point-img-cover {
background-image: url("../../img/point-2.png");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
background-color: #5e7ecb1a;
}
.col-max-min-height-tar{
max-height: 78vh;
min-height: 78vh;
overflow-x: hidden;
padding: 0px 25px 0px 25px;
}
.text-gray-general-tar{color: #737474;}
.icon-blue-tarj{color: #009abc !important;}
.color-green-tarj{color: #5ba629 !important;}
.margin-buttom-back {
padding: 0px !important;
margin-left: 45%;
}
#style-3::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar{
width: 10px;
background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar-thumb{background-color: #5e7ecb;}
#style-4::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar{
width: 10px;
background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar-thumb{background-color: #fbb234;}
#style-5::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
#style-5::-webkit-scrollbar{
width: 10px;
background-color: #c54c98;
}
#style-5::-webkit-scrollbar-thumb{background-color: #c54c98;}
#info{
font-size: 18px;
color: #555;
text-align: center;
margin-bottom: 25px;
}
.scrollbar{background: #F5F5F5;}
.content-tex-tittle{
max-height: 28vh;
min-height: 28vh;
}
.padding-text-new-tarj {
padding-left: 0px;
padding-top: 35px;
padding-bottom: 35px;
padding-right: 0px;
text-align: justify;
}
.padding-tarj-new-all{
padding-left: 30px;
padding-right: 30px;
}
.cover2-yellow {
height: 10px;
background-color: #fbb234;
border-radius: 6px 6px 0 0;
}
.border-yellow {
border-bottom: 2px solid #fbb234 !important;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: rgb(251, 178, 52);
}
.cover2-pink {
height: 10px;
background-color: #c54c98;
border-radius: 6px 6px 0 0;
}
.border-pink {
border-bottom: 2px solid #c54c98 !important;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: rgb(251, 178, 52);
}
.point-img-cover-yellow {
background-image: url("../../img/point-2.png");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
background-color: #fbb2341a;
}
.point-img-cover-pink {
background-image: url("../../img/point-2.png");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
background-color: #ec79c133;
}
/*blog*/
.snip1527 {
color: #ffffff;
float: left;
font-family: 'Lato', Arial, sans-serif;
font-size: 16px;
overflow: hidden;
position: relative;
text-align: left;
width: 100%;
box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.4);
border-radius: 3px;
height: 250px;
}
.snip1527 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
}
.snip1527 img {
height: 100%;
float: left;
position: relative;
}
.img-big-blog{
width: 100%;
height: auto !important;
position: relative !important;
float: none !important;
right: 0px !important;
}
.snip1527 figcaption {
padding: 25px 20px 25px;
position: absolute;
bottom: 0;
z-index: 1;
}
.snip1527 figcaption:before {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #700877;
content: '';
background: linear-gradient(90deg, #000 0%, transparent 100%, transparent 100%);
opacity: 0.8;
opacity: 0.8;
z-index: -1;
}
.snip1527 .date {
background-color: #fff;
border-radius: 50%;
color: #000000;
font-size: 18px;
font-weight: 700;
min-height: 48px;
min-width: 48px;
padding: 10px 0;
position: absolute;
right: 15px;
text-align: center;
text-transform: uppercase;
top: -25px;
}
.snip1527 .date span {
display: block;
line-height: 14px;
}
.snip1527 .date .month {font-size: 11px;}
.snip1527 h3,
.snip1527 p {
margin: 0;
padding: 0;
}
.snip1527 h3 {
display: inline-block;
font-weight: 700;
letter-spacing: -0.4px;
margin-bottom: 5px;
}
.snip1527 p {
font-size: 0.8em;
line-height: 1.6em;
margin-bottom: 0px;
}
.snip1527 a {
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
z-index: 1;
}
.snip1527:hover img,
.snip1527.hover img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.cfotoblogdetail {
background-color: #f7f8fc;
height: 80vh;
width: 100%;
background-position: center;
background-size: cover;
}
.spacing{
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 17px;
}
.pink-bullet{
border-radius: 5px;
width:10px;
height: 10px;
top: 15px;
}
.blue-bullet{
background-color:  #0087C4;
border-radius: 5px;
width:10px;
height: 10px;
top: 15px;
position: relative;
}
.yellow-bullet{
background-color:  #FED200;
border-radius: 5px;
width:10px;
height: 10px;
top: 15px;
position: relative;
}
.green-bullet{
background-color:  #41B38C;
border-radius: 5px;
width:10px;
height: 10px;
top: 15px;
position: relative;
}
.boton-space{
font-size: 33px;
letter-spacing: 9px;
text-align: center;
}
.bording-buttom-cafe {
padding: 0px;
padding: 5px !important;
border: 2px solid #8F806C;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-color: transparent;
border-right-color: #8F806C;
border-bottom-color: #8F806C;
border-left-color:transparent;
}
.boton-space-2{
padding-top: 0px;
padding-bottom: 0px;
font-size: 32px;
letter-spacing: 7px;
}
.text-black-new22 {
color: #000000;
font-size: 22px;
}
.rec-blue-ninos {
width: 120%;
height: 28vh;
border: 2px solid #009abc;
position: absolute;
bottom: 64px;
left: -13px;
z-index: -1;
opacity: .2;
}
.line-white{
height: 277px;
background: white;
width: 1px;
margin-left: 50%;
}
/*Nosotros*/
.header5{
background-image: url("../../img/nosotros1.jpg");
}
.row-nosotro1 {
background-image: url("../../img/montanas-filosofia.png");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
height: 119vh;
}
.row-nosotro2 {
background-image: url("../../img/montanas-nosotros1.png");
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
height: 113vh;
}
.top-180-nosotros{
top:88px;
left: 3%;
}
.top-400-nosotros {
top: 600px;
right: 3%;
}
.title-blue-n2 {
color: #009abc;
font-weight: bold;
text-align: right;
}
.tex-right-new2{text-align: right;}
.font-georgia{font-family: Georgia;}
.line-h-n {
font-size: 18px;
line-height: 35px;
}
.color-area-l-no{
font-size: 20px;
color: #009abc;
cursor: pointer;
line-height: 19px;
-webkit-transition: color 0.5s ease-out;
-moz-transition: color 0.5s ease-out;
-o-transition: color 0.5s ease-out;
transition: color 0.5s ease-out;
}
.color-area-l-no:hover{
color: #002E38;
text-decoration: none;
}
.color-area-l-no:hover{text-decoration: underline;}
.padding-50-n-row{padding-top: 78px;}
.family-font-robot{
font-family: roboto;
cursor: pointer;
margin-top: 25px;
}
.family-font-robot:hover{color: #484848;text-decoration: underline;}
.top-180-nuestro {top: 156px;left: 3%;}
.btn-color-blue{background: #009abc;color: white;}
.padding-tes-1 {padding-bottom: 60px;}
.top-blo-2 {padding-top: 60px;}
.lef-nosotros{left: 3%;}


.header2,
.header3,
.header4,
.header5,
.header6, {
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
}


.header6{
background-image: url("../../img/blog-1.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
}
.autorrec{
width: 100%;
height: 20vh;
background-image: url("../../img/autor-2.jpg");
margin-bottom: 10px;
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
border: 1px solid #ccc9;
}
.img-cir-blog-autor{
width: 20vh;
height: 20vh;
padding: 33px;
}
.tex-blog-1{
width: 90%;
color: #000000b3;
font-size: 21px;
font-weight: bold;
}
.tex-blog-2{
color: #000000b3;
font-size: 17px;
font-weight: bold;
font-style: italic;
}
.padding-top-autor-new{
padding-top: 5px;
padding-bottom: 5px;
}
.body3 {
font-size: 16px;
font-family: 'Roboto', sans-serif;
color: #ffffff;
overflow-x: hidden;
background:#000000;
margin-bottom: 40px;
background-size: cover;
background-position: center bottom;
background-repeat: no-repeat;
width:100%;
min-height:100vh;
}
.margin-tar-nosotros-1 {margin-top: 40px;}
.margin-left-icon-check-new{
color: #8c8b8b;
}
.top-title-new-index-laborales{
    top: -20px;
}
.tex-range-dias{
    margin-top: 0px;
    font-weight: lighter;
    font-size: 16px;
}
.contenedor6:hover{filter: grayscale(100%);}
.owl-next {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 18px;
    z-index: 1000;
    right: 2%;
    cursor: pointer;
    color: #cf1e1e00;
    margin-top: -27px;
}
.owl-prev {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 18px;
    z-index: 1000;
    left: 2%;
    cursor: pointer;
    color: transparent;
    margin-top: -27px;
}















.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #fff;
  width: 100%;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 10px;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
	text-transform:  uppercase;
	color: #ffffff;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.select-styled:hover {
  background-color: #8F806C;
}

.select-styled:active, .select-styled.active {
  background-color: #8F806C;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(0, 0, 0, 0.6);
}
.select-options li {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ffffff;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
	font-size:  10px;
}

.select-options li:hover {
  color: #61513b;
  background: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}

.video-container {
  position: relative;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,154,188,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,154,188,0.25);
box-shadow: 10px 10px 5px 0px rgba(0,154,188,0.25);
}

.contenedor-video {
	background-image: url("../../img/fondo-video.png");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#video-proyectos {
	padding-bottom: 56.25%; /*16:9*/
	margin-top:  0px;
	height:  300px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-recientes-inicio iframe {
	height:  300px;
}

.hover-areas-laborales-ciencias,
.hover-areas-laborales-matematicas,
.hover-areas-laborales-artes,
.hover-areas-laborales-biologia {
	border: transparent solid 2px;
	-webkit-transition: border 0.5s ease-out;
	-moz-transition: border 0.5s ease-out;
	-o-transition: border 0.5s ease-out;
	transition: border 0.5s ease-out;
}

.hover-areas-laborales-ciencias:hover {
	border: #B8B8B8 solid 2px;
	-webkit-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	-moz-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
}

.hover-areas-laborales-matematicas:hover {
	border: #B8B8B8 solid 2px;
	-webkit-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	-moz-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
}

.hover-areas-laborales-artes:hover {
	border: #B8B8B8 solid 2px;
	-webkit-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	-moz-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
}

.hover-areas-laborales-biologia:hover {
	border: #B8B8B8 solid 2px;
	-webkit-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	-moz-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
	box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.20);
}

.tex-formato-testi-slider {
	color: #7E684C;
	font-weight:  900;
}

.iconos-mapa {
	color: #009ABC;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: bold;
    cursor: pointer;
}

/* Slider Proyectos */
.container-slider {
  position: relative;
  width: 100%;
	cursor: pointer;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	width: 100%;
}

.container-slider:hover .image {
  opacity: 1;
}

.container-slider:hover .middle {
  opacity: 1;
}

.text-slider{
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  font-size: 10px;
	padding:  15px;
}

.btn-slider-proyecto {
	background-color:  transparent;
	border:  #a6c487 solid 1px;
	padding:  5px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.btn-slider-proyecto:hover {
	background-color:  #a6c487;
}

/* Slider Testimoniales */
.swiper-container {
		width: 100%;
		height: auto;
}
.swiper-slide {
		text-align: center;
		font-size: 12px;
		color: #000000;
		background: transparent;
		width: 100%;
		height:  100%;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
}
.swiper-slide big {
		font-size: 18px;
}
.swiper-slide small {
	color: #009ABC;
	font-weight:  900;
}
.swiper-slide:nth-child(2n) {
		width: 40%;
}
.swiper-slide:nth-child(3n) {
		width: 20%;
}

.link-titulo-inicio a {
	color: black;
	font-weight:  900;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.link-titulo-inicio a:hover {
	color: #7E684C;
	font-weight:  900;
}

.row {
  padding-top:  20px;
}

.padding-top20 {
  padding-top:  20px;
}

.hover-tarjetas-proyectos {
  background-color:  transparent;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  padding:  10px;
}

.hover-tarjetas-proyectos:hover {
  background-color:  #009ABC;
}

.contendor-paginador {
  border-top:  #CBCBCB solid 1px;
  color: red;
}

.contendor-paginador a {
  color: #009ABC;
}

.btn-filtros-izquierda {
  background-color:  #009ABC;
  width: 100%;
  border: 0px;
  padding:  10px;
  color:  white;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  border:  #949494 solid 2px;
  margin-top:  30px;
}

.btn-filtros-izquierda:hover {
  background-color:  #051c49;
}

.padding5050 {
  padding-top:  50px;
  padding-bottom:  50px;
}

.menu-proyectos {
  padding:  20px;
}

#map {
    width: 100%;;
    height: 400px;
}

#mapaubicacion {
    width: 100%;;
    height: 400px;
}

.contenedor-modal-mapa {
  z-index: 99999;
  display: inherit;
}



.mensaje-estado-mapa {
  margin-right: -10%;
}

.mensaje-estado-mapa {
  background-color:  #9F9F9F;
	border:  #009ABC solid 5px;
  border-radius: 10px;
  text-align: left;
  height: 300px;
  overflow: scroll;
  line-height:  1;
	z-index: 1000;
}

.mensaje-estado-mapa small {
  font-size:  10px;
}

.link-mensaje-mapa {
  border:  white solid 1px;
  padding:  5px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  margin-bottom:  10px;
}

.link-mensaje-mapa:hover {
  background-color: #009ABC;
}

.titulo-proyectos-modal-mapa {
	background-color:  #57B366;
	padding:  5px;
	margin-bottom:  10px;
}

.mensaje-estado-mapa-movil {
  background-color:  #9F9F9F;
	border:  #009ABC solid 5px;
  padding:  10px;
  border-radius: 10px;
  text-align: left;
  margin-top:  0px;
  height: auto;
  overflow: scroll;
  line-height:  1;
}

.select-styled {
	color: #000000;
}

.texto-blanco {
	color: white;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.img-galeria {
			display: inline-block;
			width: 20%;
			height: auto;
			border:  transparent solid 2px;
			padding:  10px;
			-webkit-transition: border 0.5s ease-out;
			-moz-transition: border 0.5s ease-out;
			-o-transition: border 0.5s ease-out;
			transition: border 0.5s ease-out;
}

.img-galeria:hover {
			border:  #71ACE3 solid 2px;
			opacity: 0.5;
}






@media only screen and (min-width : 150px) {
	.select-styled {
		font-size:  10px;
		color: #ffffff;
	}

	.filtros-mapa-inicio {
		margin-left: 0%;
	}

	.text-checkbox {
		font-size:  10px;
	}

	.mensaje-estado-mapa {
	  margin-right: -10%;
	}

	.mensaje-estado-mapa {
	  padding:  30px;
	  margin-top:  100px;
		margin-left: 100px;
	}

	.radio, .checkbox {
			font-size:  8px;
	}
	.contenedor-video {
		padding:  0px 0px;
	}

	.video-container {
	  padding-bottom: auto; /*16:9*/
	}


}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
	.select-styled {
		font-size:  12px;
		color: #ffffff;
	}

	.filtros-mapa-inicio {
		margin-left: -10%;
	}

	.text-checkbox {
		font-size:  12px;
	}

	.mensaje-estado-mapa {
	  margin-right: 0%;
	}

	.mensaje-estado-mapa {
	  padding:  10px;
	  margin-top:  50px;
		margin-left: 0px;
	}
	.contenedor-video {
		padding:  20px 100px;
	}
	.video-container {
	  padding-bottom: 30.25%; /*16:9*/
	}

}

@media only screen and (min-width : 992px) {

	.mensaje-estado-mapa {
	  margin-right: -10%;
	}

	.mensaje-estado-mapa {
	  padding:  10px;
	  margin-top:  100px;
		margin-left: 100px;
	}

	.text-checkbox {
		font-size:  14px;
	}

}

@media only screen and (min-width : 1200px) {

}
