@media only screen and (min-device-width : 280px) and (max-device-width : 300px){
	h1 {font-size: 25px;}
	.fondo2 {padding: 6px;}
	.columna-tex-gray-littel {top: 55px;}
	.text-white-title-center {
    font-size: 25px;
    color: #ffffff;
	}
	.spanfiltros {font-size: 16px;}
	.custom-select {font-size: 14px;}
	.contenerdo-white-1 {
    margin-bottom: 45px;
    max-height: 80vh;
    min-height: 80vh;
    overflow: scroll;
	}
	.contenerdo-white-2 {
    margin-bottom: 45px;
    max-height: 80vh;
    min-height: 80vh;
    overflow: scroll;
    padding: 0px;
	}
	.centrado3-new {
    left: 52%;
    font-size: 15px;
	}
	.centrado4-new {
    left: 52%;
    font-size: 14px;
	}
	.new-class-padding-0-q{
		padding: 0px;
	}
	.font-size-tarje-new {font-size: 15px;}
	.width-30-px-new {width: 15px;}
	.btn-buscar-color2-new {font-size: 15px;}
	.centrar-text-tarjeta {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
	}
	.tabset > label {width: 100%;border: 1px solid #d8d7d7;}
}
@media only screen and (max-device-width : 320px) {
	.formulario-backgroud {height: 131vh !important;}
	.new-class-padding-0-q{padding: 0px;}
	.btn-colo-cu {margin-top: 23px;}
	.tabset > label {width: 100%;border: 1px solid #d8d7d7;}
	.padding-30-new {padding: 0px;}
	.padding-text-new {width: 100%;}
	.padding-img-new {
    padding-top: 0px;
    padding-bottom: 46px;
    margin-top: 16px !important;
	}
	.paddin-logo {padding: 5px;margin-top: -10px;}
	.logo-itam {top: 1px;}
	.width-logo-unam {margin-left: 13px;}
	.btn-colo-green {
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 20px;
	}
	.padding-tarj-new-all {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 90px;
	position: relative;
	margin-bottom: 182px
	}
	.h3responsive{font-size: 19px;}
	.content-tex-tittle {
    max-height: 38vh;
    min-height: 38vh;
	}
	.margin-title-tarj {font-size: 14px;}
	.margin-title-tarj2 {font-size: 14px;}
	.swiper-container {height: 20vh;}
	.swiper-container-2 {height: 11vh !important;}
	.slider-1 {height: 61%;}
	.slider-3 {height: 39%;}
	.img-new-tab2 {height: 42px;}
    .text-area-labo {font-size: 12px !important;}
    .img-new-tab2 {height: 37px !important;}
    .padding-tittle-img-tab {
    padding-top: 7px;
    font-size: 15px;
    }
    .blue-bullet {
    top: -9px !important;
    left: 4%;
	}
    .color-green-tarj {font-size: 13px;}
    .margin-buttom-ver-mas {margin-top: 13%;}
    .icon-blue-tarj {font-size: 13px;}
    .margin-buttom-ver-mas2 {margin-top: 1%;}
    .top-400-nosotros {top: 200px;}
    .tarj-margin-0-p {top: -100px;}
    .margin-ta-col-4-tarj {margin-top: 0px !important;}
    .col-max-min-height-tar {
    overflow-x: hidden;
    padding: 0px 25px 0px 25px;
    max-height: 88vh;
    min-height: 88vh;
    }
    .row-new-2 {margin-top: 80px;}

		.text-mapa-padding{text-align: center;}





		.select-styled {
			font-size:  8px;
		}






}
@media only screen and (max-width : 480px){
	h1 {font-size: 26px;}
	.fondo-1 {padding: 37px;}
	.fondo2 {
    padding: 22px;
    margin-top: 0px;
	}
	.columna-tex-gray-littel {top: 45px !important;}
	.text-mapa-padding {padding: 0px;}
	.mapa-padding {padding: 0px;}
	.margen-check {
    margin-left: 0px;
    margin-top: 20px;
	}
	.tex-align-center {text-align: center;}
	.margin-t-50 {margin-top: 50px;}
	.text-gray-3 {
    padding-bottom: 20px;
    text-align: center;
	}
	.text-gray {font-size: 23px;}
	.tex-gray-littel {font-size: 15px;}
	.tex-bold-gray {font-size: 17px;}
	.text-gray-2 {font-size: 28px;}
	.text-black-2 {font-size: 20px;}
	#icon-padding {margin-top: -18px;}
	.text-gray-5 {font-size: 24px;}
	.row-testimonios {height: auto;}
	.text-white-title-center {font-size: 27px;}
	.col-pos-top {top: 33px;}
	.col-pos-top-2 {top: 85px;}
	.text-black-bold {font-size: 19px;}
	.formulario-backgroud {    height: auto;
    padding-bottom: 83px;}
	.col-top-2 {top: 40px;
	width: 100%;
    margin-left: 0px;}
	.col-margin-left {
    left: 0px;
    top: 60px;
	}
	.font-size-form {font-size: 17px;}
	.span-conteiner-form {
    padding-bottom: 8px;
    font-size: 14px;
	}
	.padding-top-footer {padding-top: 0px;}
	.padding-top-footer2 {
    padding-top: 10px;
	padding-bottom: 10px;
	}
	.font-black-footer {font-size: 13px;}
	#footer-responsive1 {font-size: 12px;}
	#responsive-menu-2-rec {font-size: 14px;}
	.ocultar-menu-reponsive-2 {display: none;}
	.contenerdo-white-2 {padding: 0px;}
	.contenerdo-white-1 {
    margin-bottom: 50px;
    max-height: 60vh;
    min-height: 60vh;
    overflow: scroll;}
	.w-full-tar {height: 35vh;}
	.centrado3-new {font-size: 20px;left: 50%;}
	.centrado4-new {font-size: 15px;}
	.font-size-tarje-new {font-size: 16px;}
	.width-30-px-new {width: 17px;}
	.centrar-text-tarjeta {
    color: #000000;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 8px;}
    .btn-buscar-color2-new {font-size: 17px;}
    .new-class-padding-0-q{padding: 0px;}
    .swiper-container-2 {height: 11vh !important;}
    .swiper-container {height: 20vh;}
    .slider-3 {height: 40%;}
    .line-white {height: 0px;}
    .pink-bullet {
    top: 14px;
    left: 20%;
	}
	.blue-bullet {
    top: 13px;
    left: 2%;
	}
	.yellow-bullet {
    top: 14px;
    left: 5%;
	}
	.green-bullet {
    top: 14px;
    left: 4%;
	}
	.boton-space-2 {
    font-size: 22px;
    letter-spacing: 5px;
    }
    .bording-buttom-cafe {height: 66px;}
    .padding-30-new {padding: 0px;}
    .text-area-labo {font-size: 14px !important;}
    .padding-tittle-img-tab {
    padding-top: 15px;
    font-size: 15px;
    padding-right: 0px;
    }
    .padding-40-tab {padding-left: 48px;}
    .new-padding-responsive{padding: 0px;}
    .display-100{width: 100%;}
    .tamano-laber-a {
    width: 100% !important;
    height: 12vh;
    border: 2px solid #ccc !important;
    }
    .centrado2 {font-size: 14px !important;}
    .centrado2 {top: 44%;}
    .text-center-new1 {font-size: 18px;}
    .text-center {margin-top: 15px;}
    .titulo-buscador {
    letter-spacing: 2px;
    font-size: 15px;
    }
    .text-gray-4 {font-size: 15px;}
    .padding-text-new {
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    }
    .padding-img-new {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 0px;
    width: 100%;
    }
    .logo-itam {top: -38px;}
    .paddin-logo {top: -41px;}
    .btn-colo-green {
    font-size: 19px;
    letter-spacing: 2px;
    }
    .tabset > label {
    width: 100%;
    border: 1px solid #d8d7d7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(216, 215, 215);
    border-right-color: rgb(216, 215, 215);
    border-bottom-color: rgb(216, 215, 215);
    border-left-color: rgb(216, 215, 215);
    }
    .col-max-min-height-tar {
    overflow-x: hidden;
    padding: 0px 25px 0px 25px;
    }
    .padding-tarj-new-all {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 90px;
	position: relative;
    }
	.border-blue-map {margin-top: 50px;}
    .btn-colo-cu {margin-top: 23px;}
    .tarj-margin-0-p{top: 0px;}
    .top-responsive-tes-tar{top:-80px;}
    .top-slider-responsive-tes {top: 32px;}
    .img-big-blog {
    width: 164%;
    height: 400px !important;
    }
    .snip1527 {margin-top: 100px;}
    .top-400-nosotros {top: 5px;}
    .ocultar-responsive{display: none;}
    .padding-responsive-blo-in{
    padding-left: 30px !important;
    padding-right: 30px !important;
    }
    .img-cir-blog-autor {
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    }
    .row-blog-inter-2 {margin-top: 0px;}
    .autorrec {height: 82vh;
    }
    .padding-top-autor-new {text-align: center;}
    .padding-img-laborales {padding-top: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
    }
    .line-h-n {
    font-size: 17px;
    line-height: 29px;
    }
    .color-area-l-no {
    font-size: 18px;
    line-height: 16px;
    }
    .title-blue-n {font-size: 17px;}
    .title-blue-n2 {font-size: 30px;}
    .margin-tar-nosotros-1 {margin-top: 0px;}
    .top-180-nosotros {top: 158px;}
    .header6 {height: 60vh;}
    .header5 {height: 60vh;}
    .header4 {height: 60vh;}
    .header3 {height: 60vh;}
    .margin-ta-col-4-tarj {margin-top: 0px;}
    .p-blacl-title-modal {font-size: 28px;}
    .p-text-subtitle {font-size: 16px;}
    .text-checkbox {font-size: 14px;}
    .row-modal {
    max-height: 60vh;
    min-height: 60vh;
    left: 5%;
    width: 90%;
    }
    .font-check-title-new{font-size: 16px;}
    .spanfiltros {
    left: 23%;
    position: relative;
    }
    .text-black-title-new2 {
    font-size: 16px;
    text-align: center;
    }
    #top-row-segundo-principal {margin-top: 10%;}
    .row-new-2 {margin-top: 90px;}
    .line-h-n {font-size: 15px;}

}
@media only screen and (min-device-width : 412px) and (max-device-width : 414px){
   .formulario-backgroud {height: 103vh;}
   .centrado4-new {font-size: 17px;left: 50%;}
   .tabset > label {
    width: 100%;
    border: 1px solid #d8d7d7;}
    .padding-tarj-new-all {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;}
    .content-tex-tittle {
    max-height: 24vh;
    min-height: 24vh;
	}
	.flip-container, .sports-card .front, .sports-card .back {
    max-height: 82vh;
    min-height: 82vh;
	}
	.col-max-min-height-tar {
    max-height: 74vh;
    min-height: 74vh;
	}
    .swiper-container-2 {height: 11vh !important;}
    .swiper-container {height: 20vh;}
    .slider-1 {height: 68%;}
    .slider-3 {height: 38%;}
    .rec-blue-ninos{
    width: 106%;
    height: 28vh;
    bottom: 104px;
    }
    .bording-buttom-cafe {height: 66px;}
    .pink-bullet {
    top: 14px;
    left: 24%;
	}
	.blue-bullet {
    top: 14px;
    left: 4%;
	}
	.yellow-bullet {
    top: 14px;
    left: 12%;
	}
	.green-bullet {
    top: 14px;
    left: 16%;
	}
	.boton-space-2 {
    font-size: 34px;
    letter-spacing: 6px;}
    .bording-buttom-cafe {height: 66px;}
    .padding-30-new {padding: 0px;}
    .padding-tittle-img-tab {font-size: 17px;}
    .img-new-tab2 {height: 51px !important;}
    .tamano-laber-a {
    height: 10vh;
    width: 100% ;
    border: 2px solid #ccc !important;
    }
    .text-center-new1 {
    font-size: 18px;
    margin-top: 89px;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 375px){
    .formulario-backgroud {height: 107vh;}
    .centrado4-new {font-size: 16px;}
    .new-class-padding-0-q{padding: 0px;}
    .swiper-container-2 {height: 11vh !important;}
    .swiper-container {height: 20vh;}
    .slider-1 {height: 65%;}
    .slider-3 {height: 39%;}
    .pink-bullet {left: 20%;}
	.blue-bullet {left: 0%;}
	.yellow-bullet {left: 7%;}
	.green-bullet {left: 12%;}
	.boton-space-2 {font-size: 27px;}
    .bording-buttom-cafe {height: 60px;}
    .padding-30-new {padding: 5px;}
    .tamano-laber-a {
    width: 100% ;
    height: 11vh;
    border: 2px solid #ccc !important;
    }
    .blue-bullet {top: 14px;}
    .padding-tarj-new-all {
    margin-top: 78px;
    margin-bottom: 78px;
    }
    .text-center {margin-top: 8px;}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 480px){
	.col-margin-left {top: 65px;}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 990px){
	.MenuNomada2 {font-size: 15px;}
	.row-testimonios {height: 50vh;}
	.formulario-backgroud {height: auto;
    padding-bottom: 100px;}
	.text-gray {font-size: 32px;}
	.font-black-footer {font-size: 13px;}
	#ocultar-logo2 {display: none;}
	.ocultar-menu-reponsive-2 {display: none;}
	.bording-buttom-cafe {
    height: 60px !important;
    margin-bottom: 40px;
    padding-right: 10px !important;
	  width: 100%;}
    .columna-tex-gray-littel {top: 35px;}
    .swiper-container {height: auto;}
    .text-white-title-center {font-size: 20px;}
    .line-white {display: none;}
    .boton-space {
    font-size: 30px;
    letter-spacing: -1px;
	}
    .form-title {font-size: 18px;}
    .font-size-form {font-size: 16px;}
    .col-top-2 {
    top: 75px;
    width: 100%;
    }
    .padding-img-laborales {max-width: 100%;}
    .text-footer-copy{margin-left: 0%;
    margin-right: 0%;
    }
    .centrado2 {
    top: 46%;
    width: 70%;
    font-size: 13px;
    }
    .text-center {margin-top: 80px;}
    .h3responsive{
    font-size: 17px;
    letter-spacing: 0px;
    margin-top: 15px;
   }
   #responsive-ciencias-title1{
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 15px;
   }
   #col-responsive {top: 40px;}

	 .text-mapa-padding{text-align: left;}







	 .select-styled {
		 font-size:  10px;
	 }










}
@media screen and (max-width: 990px) {
  	.topnav a:not(:first-child) {display: none;}
  	.topnav a.icon {
    float: right;
	display: block;
	color: #ffffff;
	font-size: 30px;
  	}
  	.top-columna-menu-2 {
    top: 15px;
    left: 140px;
  	}
  	#icon-menu-responsive{
    font-size: 12px;
    padding: 0px;
  	}
  	.ocultar-menu-reponsive-2 {display: none;}
}
@media screen and (max-width: 990px) {
 	.topnav.responsive {position: relative;}
 	.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
 	}
 	.topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
 	}
 	.topnav {
    background-color: #333;
    overflow: hidden;
 	}
	.topnav2 {
    background-color: black;
    overflow: hidden;
    background: linear-gradient(to bottom, #000000, transparent);
    position: fixed;
	}
	.top-columna-menu-2 {
    top: 0px;
    left: 0px;
	}
	.titulo-buscador1 {border-bottom: none;}
  	input[id="search"]:focus {
    width: 161px;
    z-index: 1;
    border-bottom: 2px solid #ffffff;
    cursor: text;
   }
   #columna-100-p {display: none;}
   #ocultar-logo {display: none;}
   .container {
   	padding: 0px;
	z-index: 1;
	background-color: #000000;
	position: relative;
	background: -webkit-linear-gradient(to bottom, #000000, transparent);
	background: linear-gradient(to bottom, #000000, transparent);
	}
	#conteiner-header-0-p {padding: 0px;}
	.menu-responsive-logo-size {
    width: 30%;
	padding-top: 10px !important;
	padding-bottom: 5px !important;
	}
	.ocultar-menu-reponsive-2 {display:block;}
	#mostrar-menu-prinicpal {display: none;}
	#conteiner-fluid-0{padding: 0px;}
	.titulo-buscador1 {
    text-align: center;
    padding:  0px;
    margin-bottom: 0px;
	}
	input[id="search_submit"] {
    height: 35px;
    width: 35px;
    display: inline-block;
    float: left;
    background: url("../img/search.png") center center no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: opacity .4s ease;
    background-size: 23px;
    left: 0;
    opacity:.5;
	}
	input[id="search"]:focus {border-bottom: 2px solid #ffffff !important;}
	.topnav a:hover {
    background-color: transparent;
    color: #ffffff;
    opacity: 1;
	}
	.header {height: auto;}
	a svg{
	transition:all .5s ease;
 	&:hover{#transform:rotate(180deg);}
	}
 	#ico {display: none;}
 	.menu{
  	background: #000;
  	display: none;
  	padding: 5px;
  	width: 320px;
  	@include border-radius(5px);
  	#transition: all 0.5s ease;
  	a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;

    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
    &:hover{
      background: #555;
    }
  }
}
	.hover-cancel:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    opacity: 1;
	}
	.hover-active:hover{
	color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    opacity: .5;
	}
	.text-black {
	top: 30px;
    font-size: 15px;
	}
	.ocultar-div {display: none;}
	.font-14px{font-size: 14px;}
	.text-black {left: 11px;}
	.padding-0-new {
    margin-right: 4% !important;
    }
    .font-weight-bold {font-size: 12px;}
   	.rec-blue-ninos {width: 90%;}

}
@media screen and (min-device-width : 1024px) and (max-device-width : 1024px) {
	.text-align-general {padding-left: 10% !important;}
	.formulario-backgroud {height: 70vh;}
	.spanfiltros {width: 70%;}
	.contenerdo-white-1 {padding: 0px;}
	.text-black-filtros {
    font-size: 17px;
    padding-left: 5px;
	}
	.custom-select {font-size: 15px;}
	.w-full-tar {height: 30vh;}
	.centrado3-new {font-size: 23px;}
	.centrado4-new {font-size: 18px;}
	.font-size-tarje-new {font-size: 16px;}
	.btn-buscar-color2-new {font-size: 18px;}
	.padding-tarj-new-all {padding-left: 13px;padding-right: 13px;}
	.margin-title-tarj {font-size: 16px;}
	.flip-container, .sports-card .front, .sports-card .back {
    max-height: 86vh;
    min-height: 86vh;
	}
	.margin-buttom-ver-mas {margin-left: 7%;margin-top: 15px;}
	.tabset > label {width: 18% !important;}
	.color-green-tarj {font-size: 14px;}
	.icon-blue-tarj {font-size: 14px;}
	.swiper-container-2 {height: 13vh !important;}
	.slider-1 {height: 64%;}
	.slider-3 {height: 30%;}
	.swiper-container3 {height: 18vh !important;}
	.text-align-general {letter-spacing: 0px !important;}
	.titulo-buscador {letter-spacing: 0px;}
	.boton-space {font-size: 29px;}
	.boton-space-2 {font-size: 22px;
    letter-spacing: 5px;}
	.rec-blue-ninos {
    height: 17vh;
    bottom: 70px;
	}
	.text-black {left: 24px;}
	.text-area-labo {font-size: 15px;}
	.img-new-tab2 {height: 47px;}
	.centrado2 {
	    font-size: 15px;
	}
	.snip1527 {margin-top: 50px;}
	.img-cir-blog-autor {
    height: 24vh;
    padding: 33px;
    }
    .row-nosotro1 {height: 101vh;}
    .text-area-labo {width: 100%;}
    .text-checkbox {font-size: 14px;}





		.select-styled {
	 		 font-size:  10px;
	 	}





}
@media screen and (min-device-width : 1280px) and (max-device-width : 1280px) {
	.formulario-backgroud {    height: auto;
    padding-bottom: 19%;
    }
	.swiper-container-2 {height: 16vh !important;}
	.swiper-slide {height: 93%;position: relative;}
	.slider-1 {height: 84%;}
	.rec-blue-ninos {height: 26vh;}
	.text-black {left: 3%;}
}
@media screen and (min-device-width : 1360px) and (max-device-width : 1366px) {
	.formulario-backgroud {height: 70vh;}
	.text-black {left: 24px;}
    .top-180-nosotros {top: 120px;}
    .top-400-nosotros {top: 500px;}
    .margin-buttom-ver-mas {
    margin-left: 10%;
    margin-top: 7%;
    }
}
@media screen and (min-device-width : 1405px) and (max-device-width : 2800px) {
	.ocultar-menu-reponsive-2 {display: none;}
    .recibe-noticias-backgroud {height: 96vh;}
    .navbar-nav {
    left: 14%;
    position: relative;
    }
    .margin-buttom-ver-mas {
    margin-left: 18%;
    margin-top: 6%;
    }
}
@media screen and (min-device-width : 990px) and (max-device-width : 1400px) {
	.MenuNomada2
	{font-size: 15px;}
	.row-testimonios {height: 87vh;}
	.font-size-menu-ipad {font-size: 15px !important;}
  	.top-columna-menu-2 {
    top: 8px;
    left: 50px;
	}
	#col-responsive {
    font-size: 14px;
    top: 5px;
	}
	.columna-text-gray {top: 0px;}
	.text-white-title-center {font-size: 37px;}
	.recibe-noticias-backgroud {height: 96vh;}
	h1 {font-size: 40px;letter-spacing: 15px;}
	.text-align-general {font-size: 16px;}
	.fondo-1 {padding: 20px;}
	.fondo2 {margin-top: -2px;}
	#ocultar-logo2 {display: none;}
	.ocultar-menu-reponsive-2{display: none;}
	.fondo2{padding: 26px;}
	.text-align-general {
    font-size: 12px;
	letter-spacing: 3px;
	}
    .columna-tex-gray-littel {top: -110px;}
}
@media screen and (min-device-width : 960px) and (max-device-width : 960px) {
	.text-align-general{
    font-size: 14px;
    padding-left: 19%;
	}
	#responsive-col-2{font-size: 14px;}
	.centrado {font-size: 13px;}
	.text-white-title-center {font-size: 35px;}
	.formulario-backgroud {height: auto;}
	.spanfiltros {width: 75%;}
	.contenerdo-white-1 {padding: 0;}
	.custom-select {font-size: 13px;}
	.text-black-filtros {padding-left: 5px;font-size: 15px;}
	.w-full-tar {height: 33vh;}
	.centrado3-new {left: 54%;font-size: 22px;}
	.centrado4-new {left: 54%;font-size: 17px;}
	.contenerdo-white-2 {padding: 0px;}
	.font-size-tarje-new {font-size: 16px;}
	.width-30-px-new {width: 17px;}
	.btn-buscar-color2-new {font-size: 17px;}
	.swiper-container-2 {height: 16vh !important;}
	.swiper-container {height: 30vh;}
	.text-align-general {letter-spacing: 0px !important;}
	.titulo-buscador {letter-spacing: 0px;}
	h1 {font-size: 40px; letter-spacing: 10px;}
	.boton-space {font-size: 26px;}
	.text-gray {
    font-size: 23px;
    margin-top: 50px;
	}
	.rec-blue-ninos {height: 19vh;}
    .boton-space-2 {font-size: 19px;    }
    .padding-30-new {padding: 0px;}
    .padding-text-new {
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 0px;
    text-align: justify;
    width: 100%;
    }
    .font-tab-black {font-size: 16px;}
    .img-cir-blog-autor {
    height: 29vh;
    padding: 33px;
    }
    .top-400-nosotros {top: 313px;}
    .color-green-tarj {
    color: #5ba629 !important;
    font-size: 12px;
    margin-top: 17px;
    }
    .icon-blue-tarj {
    color: #009abc !important;
    font-size: 12px;
    }
    .text-center {
    font-size: 37px;
    letter-spacing: 4px;
    }
   .btn-color-blue {font-size: 12px;}
   .styled-link {font-size: 15px !important;}
   .text-area-labo {width: 100%;}
   .h3responsive{
    font-size: 17px;
    letter-spacing: 0px;
    margin-top: 15px;
   }
   #responsive-ciencias-title1{
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 15px;
   }
   #col-responsive {top: 40px;}
}
}









@media only screen and (min-width : 150px) {
	.header{
	height: 138vh;
	}
	.columna-text-gray {top: 100px;}

	.tex-formato-testi-slider {
		color: #9F9F9F;
	}

	.margen-ingresar-correo-newsletter {
		margin-bottom:  50px;
	}
}


@media only screen and (min-width : 480px) {

	.columna-text-gray {top: 0px;}

	.hover-areas-laborales-ciencias,
	.hover-areas-laborales-matematicas,
	.hover-areas-laborales-artes,
	.hover-areas-laborales-biologia {
		padding:  0px;
	}

	.centrado {font-size: 10px;}

	.row-testimonios {
	height: 100vh;
	}

}

@media only screen and (min-width : 768px) {
	.header{
	height: 100vh;
	}

	.columna-text-gray {top: 40px;}

	.tex-formato-testi-slider {
		color: #9F9F9F;
	}

	.margen-ingresar-correo-newsletter {
		margin-bottom:  50px;
	}


}

@media only screen and (min-width : 992px) {

	.columna-text-gray {top: 10px;}


	.hover-areas-laborales-ciencias,
	.hover-areas-laborales-matematicas,
	.hover-areas-laborales-artes,
	.hover-areas-laborales-biologia {
		padding:  15px;
	}

	.centrado {font-size: 16px;}

	.row-testimonios {
	height: 90vh;
	}

	.margen-ingresar-correo-newsletter {
		margin-bottom:  0px;
	}


}

@media only screen and (min-width : 1200px) {

	.columna-text-gray {top: 40px;}

}
